pipeline/pipeline Process Customer.json
{
	"name": "pipeline Process Customer",
	"properties": {
		"description": "Process Customer",
		"activities": [
			{
				"name": "Get Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "AddressList",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName",
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Set File Name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileName",
					"value": {
						"value": "@activity('Get Metadata').output.itemName",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set File Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata').output",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Address Data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": "Address",
										"wildcardFileName": {
											"value": "@item()",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "CustomerID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "CustomerID",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "AddressLine1",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "AddressLine1",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "AddressLine2",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "AddressLine2",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "City",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "City",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "StateProvince",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "StateProvince",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "CountryRegion",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "CountryRegion",
												"type": "Int64",
												"physicalType": "bigint"
											}
										},
										{
											"source": {
												"name": "PostalCode",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "PostalCode",
												"type": "String",
												"physicalType": "nvarchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AddressList",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "stgTAddress",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"FileName": {
				"type": "String"
			}
		},
		"annotations": []
	}
}